img {
    max-width: 100%;
    height: auto;
}

.carousel-item {
    height: 300px;
}

.decoration-none,
.decoration-none:hover {
    text-decoration: none;
}

.auth {
    position: relative;
    height: calc(100vh - 60px); /* lo que mide el alto del dispositivo menos el tamaño de la cabecera nav.jsp */
}

.auth form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 320px;
}

.align-self-center {
    align-self: center;
}

.img-center {
    display: block;
    margin: 0 auto;
}

body{
    font-family: Verdana,sans-serif;
}
.root{
    position:relative;
    min-height: 100vh;
}
footer {
    position:absolute;
    left: 0;
    bottom:0;
    right: 0;
}
.separator{
    padding-bottom: 43em;
}

.social-network {
    font-size: 8px;
}

.social-network a {
    margin-right: 1em;
}

#map {
    max-width: 100%;
    height: 100%;
}
textarea{
    resize: none;
}
footer{
    background-color:  #590019;
}
hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border: 1px solid rgba(255,255,255,.1);
}
.btn-color{
    background-color: #E91E63;
}
.cont-relative{
    position: relative;
}
.cont-absolute{
    position: absolute;
    bottom: 30px;
}
.auth{
    min-height: 500px;
}

.auth form {
   width: 300px;
}
.text-orange{
    color:orange;
}
